{% extends "tweet/layout.html" %}

{% block title %}
Twitter
{% endblock %}

{% block content %}
<div class="bg-gray-900  min-h-screen py-8">
    <div class="max-w-2xl mx-auto bg-gray-800 p-6 rounded-lg shadow-md">
        <h1 class="text-2xl font-semibold mb-4">{% if form.instance.pk %}Edit Tweet {% else %}Create Tweet {% endif %}</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="space-y-4">
                {{ form.as_p }}
            </div>
            <div class="mt-6">
                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Submit</button>
            </div>
        </form>
            <a href="{% url 'tweet_list' %}" class="text-blue-500 hover:underline">Back to tweets</a>
    </div>
</div>
{% endblock %}
